        

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
           <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Demo - How to create a parallax scrolling website</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

       

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="{{site.url}}css/main.css">
    <!--    <link rel="stylesheet" href="{{site.url}}css/parallax.css">   -->
        
        <script src="{{site.url}}js/main3.js"/></script>
        <script src="{{site.url}}js/main2.js"/></script>
        <script src="{{site.url}}js/skrollr.js" /></script>
        <script src="{{site.url}}js/jquery.-1.11.1.min.js"/></script>

        <script src="//use.typekit.net/jdd3nyb.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    
    </head>
         <body> 

             <div class="wrapper">

                 <div class="header-container">
                        
                        <header class="wrapper clearfix"> 


    



       

